body {
    margin: 0;
    padding: 0;
  }
  
  .wrap {
    overflow: hidden;
  }
  
  .sec-title-image {
    position: relative;
    margin-top: 5%;
    margin-left: 5%;
    width: 95%;
    z-index: 2;
  }
  
  .section-text {
    position: relative;
    font-size: 1.2vw;
    width: 85%;
    margin-top: 2%;
    margin-left: 7%;
  }
  
  .sec5-text {
    position: relative;
    padding: 0% 7%;
    margin-bottom: 3%;
    font-size: 1vw;
    z-index:1
  }
  
  .sec5-heading {
    color: #009524;
    font-size: 1.5vw;
    font-weight: 900;
    z-index: 1;
  }
  
  #header-bg-img {
    width: 100.5%;
    margin: -1px;
    z-index: 1;
  }

  #section3-text {
    margin-left: 15%;
  }
  
  #header-logo {
    display: flex;
    margin-top: -170%;
    margin-left: -10%;
    height: auto;
    width: 65%;
    z-index: 2;
  }
  
  #header-btn1 {
    display: flex;
    margin-top: -130%;
    margin-left: -25%;
    height: auto;
    width: 110%;
    z-index: 2;
  }
  
  #header-btn2 {
    display: flex;
    margin-top: -130%;
    margin-left: -8%;
    height: auto;
    width: 110%;
    z-index: 2;
  }
  
  #header-btn1-sm {
    display: flex;
    margin-top: -220%;
    margin-left: -25%;
    height: auto;
    width: 150%;
    z-index: 2;
  }
  
  #header-btn2-sm {
    display: flex;
    margin-top: -220%;
    margin-left: -8%;
    height: auto;
    width: 150%;
    z-index: 2;
  }
  
  #header-text {
    position: relative;
    margin-top: -39%;
    margin-right: 5%;
    margin-left: 43%;
    font-size: 2.5vw;
    font-weight: bold;
    color: white;
    z-index: 2;
  }
  
  #header-image {
    position: relative;
    margin-top: -105%;
    margin-left: 8%;
    height: auto;
    width: 110%;
    margin-right: 3%;
    z-index: 2;
  }
  
  #header-image-sm {
    position: relative;
    margin-top: -125%;
    margin-left: 15%;
    height: auto;
    width: 110%;
    margin-right: 3%;
    z-index: 2;
  }
  
  #header-sub-text {
    text-align: right;
    width: 40%;
    margin-top: -8%;
    margin-bottom: 1%;
    font-size: 1.2vw;
    color: white;
    z-index: 2;
  }
  
  #header-sub-text-sm {
    text-align: right;
    width: 48%;
    margin-top: -18%;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 5px;
    color: white;
    z-index: 2;
  }
  
  #header-menu {
    position: relative;
    display: flex;
    width: 100%;
    background: linear-gradient(to right, #10141B, #363F46);
  }
  
  #header-menu-nav {
    display: flex;
  
  }
  
  #header-menu-nav li {
    font-size: 1vw;
    padding:2% 2% 2%;
    display:inline;
  }
  
  #header-menu-nav a {
    text-decoration: none;
    color: white;
  }
  
  #header-menu-button {
    display: flex;
    justify-content:flex-end;
    width: 20%;
    margin-top: 8px;
    margin-bottom: 7px;
  }
  
  #login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 47%;
    padding-left: 3%;
    padding-right: 3%;
    font-size: 1vw;
    text-align: center;
    border-radius: 25px;
    opacity: 0.95;
  }
  
  #login-button-text {
    color: #000000;
  }
  
  #logout-button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #363F46;
    width: 47%;
    margin-left: 8%;
    font-size: 1vw;
    text-align: center;
    border: 2px solid;
    border-color:white;
    border-radius: 25px;
  }
  
  #header-menu-sm-nav {
   display: inline;
   width: 100%
  }
  
  #header-menu-sm-button {
    display: inline;
    width: 60%;
    margin-top: 2%;
    margin-bottom: 4%;
  }
  
  #login-sm-button {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: #F0F0F0;
    width: 30%;
    font-size: 1vw;
    padding: 2.5% 5% 2.5% 5%;
    text-align: center;
    border-radius: 25px;
    opacity: 0.95;
  }
  
  #logout-sm-button {
    display: inline;
    justify-content: center;
    align-items: center;
    background-color: #363F46;
    color: white;
    width: 30%;
    margin-left: 8%;
    font-size: 1vw;
    padding: 1.8% 5% 1.8% 5%;
    text-align: center;
    border: 2px solid;
    border-color:white;
    border-radius: 25px;
  }
  
  #section1-text {
    position: relative;
    text-align: center;
    padding-top: 0.8%;
    padding-bottom: 0.7%;
    margin-top: -27%;
    margin-left: 4%;
    width: 20%;
    height: 5%;
    font-size: 1vw;
    background: #fff;
    opacity: 0.76;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
    z-index: 2;
  }
  
  #section1-text-sm {
    position: relative;
    text-align: center;
    padding-top: 0.8%;
    padding-bottom: 0.7%;
    margin-top: -27%;
    margin-left: 7%;
    width: 23%;
    height: 5%;
    font-size: 1vw;
    background: #fff;
    opacity: 0.76;
    box-shadow: 7px 7px 5px rgba(0, 0, 0, 0.75);
    z-index: 2;
  }
  
  #sec1-image {
    position: relative;
    margin-left: 28%;
    margin-top: -2%;
    margin-bottom: 2%;
    width: 70%;
  }
  
  #sec1-image1 {
    margin-top: -140%;
    margin-left: 120%;
    padding-right: 3%;
    width: 130%
  }
  
  #sec1-image1-sm {
    margin-top: -220%;
    margin-left: 170%;
    padding-right: 3%;
    width: 150%
  }
  
  #sec1-image2 {
    margin-top: -140%;
    margin-left: 160%;
    padding-right: 3%;
    width: 130%
  }
  
  #sec1-image2-sm {
    margin-top: -220%;
    margin-left: 200%;
    padding-right: 3%;
    width: 150%
  }
  
  #sec1-bg-image {
    margin-top: -20%;
    width: 100%;
    z-index: -5;
  }
  
  #gefx-information {
    text-align: center;
    position: relative;
    margin-top: 10%;
    margin-bottom: 5%;
  }
  
  #gefx-information-title {
    margin: 2%;
    color: #009524;
    font-size: 20px;
    font-weight: bold;
  }
  
  #gefx-information-table {
    text-align: center;
    margin-top: 5%;
    width: 100%;
  }
  
  #gefx-information-table th {
    border-bottom: 1px solid black;
    text-align: center;
    font-size: 17px;
  }

  #gefx-information-table a {
    color: blue;
  }

  @media screen and (max-width: 768px)
  {
    #gefx-information-table th {
      font-size: 12px;
    }

    #gefx-information-table a {
      color: blue;
    }

    .special-width {
      width: 70% !important;
      font-size: 12px;
      padding: 10px 0px;
    }

    #section3-text {
      margin: auto
    }

    .title-bg span {
      font-size: 16px  !important
    }
  }
  
  #gefx-information-table tr td:nth-child(1) {
    width: 30%;
  }
  
  #sec2-image1 {
    margin-top: 7%;
    width: 100%;
  }
  
  #sec2-image2 {
    margin-top:22%;
    margin-left: 30%;
    width: 87%;
  }
  
  #sec2-image3 {
    margin-top: 22%;
    margin-left: 15%;
    margin-right: 8%;
    width: 80%;
  }
  
  #sec3-bg-image {
    position: relative;
    margin-top: -15%;
    margin-bottom: 0;
    width: 122%;
  }
  
  #download-button {
    margin-top: 10%;
    margin-left: 20%;
    width: 50%;
  }
  
  #sec4-title-image {
    position: relative;
    margin-top: -5%;
  }
  
  #sec4-img {
    position: relative;
    margin: auto;
    display: flex;
    width: 80%;
  }
  
  #sec4-btn {
    margin: auto;
    display: flex;
    margin-top: 2%;
    width: 30%;
  }
  
  #sec5-bg-image {
    background-image: url("../images/sec5_bg.png");
    background-size: cover;
    width: 100%;
    margin-top: -5%;
    padding-top: 6%;
    position: relative;
  }
  
  #sec5-bg-image-sm {
    background-image: url(../images/sec5_bg.png);
    background-size: 251% 100%;
    background-position: right bottom;
    width: 100%;
  }
  
  #sec5-text-area {
    position: relative;
    margin-top: -30%;
    margin-right: 8%;
    margin-bottom: 6.3%;
    width: 80%;
  }
  
  #footer-text {
    position: relative;
    margin-left: 5%;
    margin-right: 6%;
    margin-bottom: 1%;
    width: 90%;
    color: white;
    font-size: 1vw;
  }
  
  #footer-menu {
    display: flex;
    width: 100%;
    margin-top: 3%;
    margin-bottom: 2%;
  }
  
  #footer-menu nav {
    margin-left: 0;
    margin-right: 5%;
    width: 100%;
  }
  
  #footer-menu li {
    width: 85%;
    font-size: 1vw;
    padding:2% 1% 2% 1%;
    display:inline;
  }
  
  #footer-menu a {
    color: inherit;
    text-decoration: none;
    color: white;
  }
  
  #footer-logo {
    width: 8%;
    padding-right: 1%;
  }
  
  #footer-copyright {
    position: relative;
    padding-bottom: 2%;
    color: white;
    text-align: center;
  }

  .common-button {
    display: block;
    margin: auto;
    width: 200px;
    margin-top: 27px;
    border: none
  }

  .common-button:hover {
    border: none
  }

  .banner-button2 {
    background-color: #b49f63;
  }
  .banner-button2:hover {
    color: #b49f63;
  }

  .bg-image {
    background-image: url(../images/header_bg.png);
    background-size: 100% 100%;
  }

  .bg-image .pos-abs-bg {
    position: absolute;
    top: 0;
    width: 100%;
    z-index:0
  }

  .sec5-img {
    position: absolute;
    top: 0;
    right: 2%;
    height: 100%;
    z-index:0
  }
  
  .bg-image .banner-logo {
    display: flex;
    margin: auto;
    margin-top: 14%;
  }

  .bg-image .title-bg {
    font-size: 34px;
    font-weight: bold;
    color: white;
    margin-top: 10%;
    text-shadow: 5px 5px 5px black;
    line-height: 26px;
    margin: 20px 0px;
    padding-top: 22px;
  }

  .bg-image .bg-text {
    color:#FFFFFF;
    text-align: right;
    margin: 30px 0px;
    margin-left: 10px;
    font-size: 18px;
  }

  .sec-1 .back-opacity-div {
    display:block;
    text-align: center;
    padding: 13px;
    margin: auto;
    width: 80%;
    background: #fff;
    opacity: 0.76;
    box-shadow: 7px 7px 5px rgb(0 0 0 / 75%);
    z-index: 2;
  }

  .banner-button1 , .banner-button2 {
    width: 90% !important; 
  }